.slick-next:before {
    content: '→';
    color: #Ac6236;
    font-size: 25px;
}
.slick-prev:before {
    content: '←';
    color: #Ac6236;
    font-size: 25px;
}

.card-container {
    height: 350px; /* Fixed height for the card */
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    justify-content: space-between; /* Distribute space evenly */
  }
  
  .card-image {
    height: 200px; 
    width: 100%; /* Keep it responsive */
    object-fit: contain;
     /* Crop the image properly to fit the container */
  }
  